/* Admin CSS */

#footer-upgrade {
	display: none;
}

.edit-post-meta-boxes-area .postbox {
	margin: 15px auto;
}

.cf-container .cf-field.admin-col-4 {
	flex: 1 1 33.333333%;
}

.cf-container .cf-field.admin-col-6 {
	flex: 1 1 50%;
}

.cf-container .cf-field.admin-col-8 {
	flex: 1 1 66.666667%;
}

th#availability,
th#sale_type,
th#property_type,
th#agent,
th#date,
th#permalink-manager-col {
	width: 10%;
}

th#price {
	width: 9%;
}
