/* search address meta box */

#gmaps_embed_meta_box .inside {
margin-top: 14px;
}

.container {
margin: 0 -24px;
margin: 0;
}

.row {
display: flex;
flex-wrap: wrap;
width: 100%;
}

.col-sm-6 {
flex: 1 1 50%;
width: 100%;
padding: 10px;
box-sizing: border-box;
}

#pac-input {
display: block;
width: 100%;
}

#address {
width: 100%;
}

#address tbody {
width: 100%;
}

#address tr {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
width: 100%;
}

#address td {
display: flex;
flex-direction: column;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 49%;
width: 49%;
margin-bottom: 15px;
padding: 0;
}

/*#address td:nth-child(1){padding-right: 10px;}
#address td:nth-child(2){padding-left: 10px;}*/

#address td.search-address {
flex-basis: 100%;
width: 100%;
padding: 0;
}

#address label {
/*flex: 1 1 5%;*/
margin: 0 0 5px 15px;
}

#address input {
/*flex: 1 1 50%;*/
display: inline-flex;
align-items: center;
height: 50px;
margin: 0;
padding: 15px;
border-style: solid;
border-width: 1px;
border-color: #999;
border-radius: 0;
box-shadow: none;
}

#address input:disabled, #address input.disabled,
#address select:disabled, #address select.disabled,
#address textarea:disabled, #address textarea.disabled {
border-style: solid;
border-width: 1px;
border-color: #999;
border-radius: 0;
box-shadow: none;
color: rgba(0,0,0,.5);
}

#map {
width: 100%;
padding-top: 100%;
}

.infowindow-content {
text-align: center;
}

.infowindow-content span {
line-height: 1.5;
}

/* media queries */

@media (max-width: 800px) {
.col-sm-6 {
flex-basis: 100%;
}

.col-sm-6:nth-child(1) {
order: 2;
}

.col-sm-6:nth-child(2) {
order: 1;
}

#map {
padding-top: 50%;
}
}

/* agent info meta box */

.admin-agent-info .cf-complex__group-body .cf-field {
display: flex;
align-items: center;
}

.admin-agent-info .cf-field__head {
flex: 0 0 15%;
}

.admin-agent-info .cf-complex__group-body  .cf-field__head .cf-field__label {
padding: 0;
}

.admin-agent-info .cf-field__body {
flex: 0 0 75%;
}
